
{% extends 'base.html'%}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            {% for e in events %}
            {{e.event_date}} - {{e.name}}  - {{e.description}} <bR>
            {% endfor%}
        </div> <!-- end row -->
    </div> <!-- end container -->
{% endblock %}


