
{% extends 'base.html'%}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">

    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Events</h2>
            {% if current_locations|length == 1%}
                <a class="category-badge text-decoration-none" href="{% url 'events' %}">
                    <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">All Events</span>
                </a>
            {% else %}
                {% for l in current_locations %}
                    <a class="category-badge text-decoration-none" href="{% url 'events' %}?location={{ l.destination }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ l.friendly_name }}</span>
                    </a>
                {% endfor %}
            {% endif %}
            {% if current_types|length == 1%}
                <a class="category-badge text-decoration-none" href="{% url 'events' %}">
                    <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">All Events</span>
                </a>
            {% else %}
                {% for t in current_types %}
                    <a class="category-badge text-decoration-none" href="{% url 'events' %}?event_type={{ t.event_type }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ t.friendly_name }}</span>
                    </a>
                {% endfor %}
            {% endif %}
            <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="name-asc" {% if current_sorting == 'name-asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name-desc" {% if current_sorting == 'name-desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="event_date-asc" {% if current_sorting == 'event_date-asc' %}selected{% endif %}>Date (Asc)</option>
                            <option value="event_date-desc" {% if current_sorting == 'event_date-desc' %}selected{% endif %}>Date (Desc)</option>
                            <option value="event_dest-asc" {% if current_sorting == 'event_dest-asc' %}selected{% endif %}>Location(A-Z)</option>
                            <option value="event_dest-desc" {% if current_sorting == 'event_dest-desc' %}selected{% endif %}>Location (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_locations or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'events' %}">Events Home</a> | </span>
                        {% endif %}
                        {{ events|length }} Events{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for event in events %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0"> <!-- bootstrap card-->
                            
                            <!--card header -->
                            {% if event.image %}
                                <a href="{% url 'event_detail' event.id %}">
                                    <img class="card-img-top img-fluid" src="{{ event.image.url }}" alt="{{ event.name }}">
                                </a>
                            {% else %}
                                {% if event.image_url %}
                                    <a href="{% url 'event_detail' event.id %}">
                                        <img class="card-img-top img-fluid" src="{{ event.image_url }}" alt="{{ event.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'event_detail' event.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ event.name }}">
                                    </a>
                                {% endif %}    
                            {% endif %}

                            <!--card body -->
                            <div class="card-body pb-0">
                                <p class="mb-0 lead">{{ event.name }} </p>
                                <p class="mb-0">{{ event.event_date }}</p>
                            </div>

                            <!--card footer -->
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="mb-0 text-left font-weight-bold">{{ event.event_dest }}</p>
                                    </div>
                                    <div class="col">
                                        
                                        {% if event.event_type %}
                                        <p class="small mt-1 mb-0">
                                            <a class="text-muted" href="{% url 'events' %}?event_type={{ event.event_type.event_type }}">
                                                <i class="fas fa-hand-peace mr-1"></i>{{ event.event_type.friendly_name }}
                                            </a>
                                        </p>
                                        {% endif %}

                                    </div>
                                    <div class="col">
                                        {% if request.user.is_superuser %}
                                            {% if event.publish == False  %}
                                                <p class="small mt-1 mb-0">
                                                    <a href="{% url 'edit_event' event.id %}">
                                                        <i class="fas fa-eye-slash"></i>
                                                    </a>                                            
                                                </p>
                                            {% else %}
                                                <p class="small mt-1 mb-0">
                                                    <a href="{% url 'edit_event' event.id %}">
                                                        <i class="fas fa-eye"></i>
                                                    </a>                                            
                                                </p>
                                            {% endif %}
                                        {% else %}
                                            
                                      
                                            {% for t in ticket_totals_per_event %}
                                                {% if t.id == event.id %}
                                                    {% if t.number_of_tickets > average_tickets %}
                                                        
                                                    <a href="{% url 'event_detail' event.id %}">
                                                        <i class="fa fa-heart fa-blink popular"></i>
                                                    </a>
                                                  
                                                    {% else %}
                                                        <a href="{% url 'event_detail' event.id %}">
                                                            <i class="far fa-heart"></i>
                                                       
                                                        </a>
                                                    {% endif %}
                                                {%endif%}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class = "row">
                                    <div class="col">
                                        {% if request.user.is_superuser %}
                                            <small class="ml-0">
                                                <a href="{% url 'edit_event' event.id %}">Edit</a> | 
                                                <a class="text-danger" href="{% url 'delete_event' event.id %}">Delete</a>
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div> <!-- end card -->
                    </div> <!-- end card col -->
                
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                {% endfor %}
            </div> <!-- end card row -->
        </div>
    </div>
</div>

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block post_loadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("-")[0];
                var direction = selectedVal.split("-")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}
