
{% extends 'base.html'%}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            {% include "bag/bag-total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "bag/checkout-buttons.html" %}
                            <p class="text-muted mb-5">A summary of your bag contents is below</p>
                        </div>
                    </div>
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "bag/product-image.html" %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "bag/product-info.html" %}
                        </div>
                        <div class="col-12 col-sm-6 order-sm-last">
                            <p class="my-0">Price Each: €{{ item.product.price }}</p>
                            
                    </div>
                    <div class="col-12 col-sm-6">
                        {% include "bag/quantity-form.html" %}
                    </div>
                </div>
                <div class="row"><div class="col"><hr></div></div>
            {% endfor %}
            <div class="btt-button shadow-sm rounded-0 border border-black">
                <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                </a>	
                </div>
        </div>
            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Tickets</th>
                            <th scope="col"></th>
                            <th scope="col">Pickup</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25"> <!-- IMAGE -->
                                {% include "bag/product-image.html" %} <!-- bag total -->
                            </td> 
                            <td class="py-3"> <!-- DESC -->
                                {% include "bag/product-info.html" %} <!-- bag total -->
                            </td>
                            <td class="py-3"> <!-- PICK LOCK -->
                                <p class="my-0">{{ item.pickloc_name }}</p>
                            </td>
                            <td class="py-3"> <!-- PRICE -->
                                <p class="my-0">€{{ item.price_per_ticket }}</p>
                            </td>
                            <td class="py-3"> <!-- QTY -->
                                {% include "bag/quantity-form.html" %} <!-- bag total -->
         
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.price_line }}</p> 
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            {% include "bag/bag-total.html" %} <!-- bag total -->
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right"> <!-- check out buttons -->
                            {% include "bag/checkout-buttons.html" %}
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'events' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block post_loadjs %}
{{ block.super }}

<script type="text/javascript">
    // Disable +/- buttons outside 1-49 range
    function handleEnableDisable(itemId) {
        console.log('handle disable ' + itemId) 
        
       
                    var currentValue = parseInt($(`.id_qty_${itemId}`).val());
                    console.log('currentValue')
                    console.log(currentValue)
                    var minusDisabled = currentValue < 2;
                    var plusDisabled = currentValue > 48;
                    $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
                    $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
       
        

        //id_qty_{{ item.event_id }}
    }

    // Ensure proper enabling/disabling of all inputs on page load
    //console.log("page load?")
    var allQtyInputs = $('.qty_input'); // loop over all elements with .qty_input class
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    // note this does not fire on button click  but the handleEnableDisable is called explicitly
    $('.qty_input').change(function() {
        //console.log("on change");
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });
    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0]; // fron the button (.increment-qty) go up the tree to find input grup and then find qty_inpput
       var currentValue = parseInt($(closestInput).val());

       var itemId = $(this).data('item_id');
       var el = '.qty_' + itemId; 

       $(el).val(currentValue+1);
       //$(closestInput).val(currentValue + 1);
       
       handleEnableDisable(itemId); // disable the button if <2 or >48
    });


    // get all classes of decrement-qty
      //var x = document.querySelectorAll(".decrement-qty_"{{item.event_id}}");

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       console.log('firing decrement-qty click')
       e.preventDefault();
       // get all classes of decrement-qty
      //var x = document.querySelectorAll(".decrement-qty_"{{item.event_id}}");

       var closestInput = $(this).closest('.input-group').find('.qty_input')[0]; 
       console.log(closestInput.id)
       
       //console.log(closestInput)
       var currentValue = parseInt($(closestInput).val());
       
       $(closestInput).val(currentValue - 1);
       //console.log(currentValue)
       //$(`.qty_${itemId}`).val(currentValue - 1)
       var itemId = $(this).data('item_id');
       //c//onsole.log(itemId)
       var el = '.qty_' + itemId; 
       //console.log(el)
       //document.getElementsByClassName('qty_61').val= 100;
       $(el).val(currentValue-1);
       //$(selector).val(value)

       handleEnableDisable(itemId);

       //id_qty_{{ item.event_id }}
    });

</script>

<script type="text/javascript">
    // Update quantity
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form'); // use previuls to find update form and call its submit method
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}"; // store csrfToken as string
        var itemId = $(this).attr('id').split('remove_')[1]; //split the update link
    
        var url = `/bag/remove/${itemId}/`; 
        var data = {'csrfmiddlewaretoken': csrfToken}; //csrfToken special key.
        
        $.post(url, data)
         .done(function() { //when done reload the page
             location.reload();
         });
    })
</script>

<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% endblock %}