<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.combi_key %}"> 
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm btn-black rounded-0  decrement-qty_{{item.event_id}}" 
                    data-item_id="{{ item.event_id }}" id="decrement-qty_{{ item.event_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input qty_{{ item.event_id }} id_qty_{{ item.event_id }}" type="number"
                name="quantity" value="{{ item.ticket_quantity }}" min="1" max="49"
                data-item_id="{{ item.event_id }}"
                id="id_qty_{{ item.event_id }}">
                
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm btn-black rounded-0 increment-qty_{{item.event_id}}"
                    data-item_id="{{ item.event_id }}" id="increment-qty_{{ item.event_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    
</form>
<a class="update-link text-info"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.combi_key }}"><small>Remove</small></a>
<br><br>


<script type="text/javascript">
    // Update quantity
    $('.update-link').click(function(e) {
        console.log("upate clickje")
        var form = $(this).prev('.update-form'); // use previuls to find update form and call its submit method
        console.log("form submit")
        //console.log(form.id)
        form.submit();
    })
</script>