<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'events' %}?sort=name&direction=asc" class="dropdown-item ">By Artist</a>
                <a href="{% url 'events' %}?sort=event_date&direction=asc" class="dropdown-item">By Date</a>
                <a href="{% url 'events' %}?sort=event_dest&direction=asc" class="dropdown-item ">By Venue</a>
                <a href="{% url 'events' %}" class="dropdown-item">All Events</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Event Type
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'events' %}?event_type=Concert,Festival" class="dropdown-item">Live Music</a>
                <a href="{% url 'events' %}?event_type=Sporting" class="dropdown-item">Live Sport</a>
                <a href="{% url 'events' %}?event_type=Shopping,Day Trip" class="dropdown-item">Day Trips</a>
                <a href="{% url 'events' %}" class="dropdown-item">All Journeys</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Location
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'events' %}?location=3Arena,Aviva Stadium,Malahide Castle,Croke Park,3Olympia" class="dropdown-item">Dublin</a>
                <a href="{% url 'events' %}?location=Pairc UÍ Chaoimh,Irish Independent Park" class="dropdown-item">Cork</a>
                <a href="{% url 'events' %}?location=Belfast" class="dropdown-item">Belfast</a>
                <a href="{% url 'events' %}?location=UK" class="dropdown-item">UK</a>
                <a href="{% url 'events' %}?location=Galway" class="dropdown-item">Galway</a>
                <a href="{% url 'events' %}?location=Limerick" class="dropdown-item">Limerick</a>
                <a href="{% url 'events' %}" class="dropdown-item">All Locations</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sport
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Croke Park</a>
                <a href="" class="dropdown-item">Aviva</a>
                <a href="" class="dropdown-item">All Sport</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Newly Added</a>
                <a href="" class="dropdown-item">Group Travel</a>
                <a href="" class="dropdown-item">Reduced Fare</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>